---
- name: Install and Run Github Self-hosted Runner
  hosts: all
  tasks:
  - name: install pip
    ansible.builtin.include_role:
      name: geerlingguy.pip
      apply:
        become: true
    vars:
      pip_install_packages:
        - name: docker

  - name: install docker and docker-compose
    ansible.builtin.include_role:
      name: geerlingguy.docker
      apply:
        become: true
    vars:
      docker_install_compose_plugin: true
      docker_compose_url: "https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-linux-{{ docker_compose_arch }}"
      docker_apt_filename: "docker"

  - name: install github runner
    ansible.builtin.include_tasks:
      file: github-runner.yml
    when: install_runner != "false"

  - name: change default tcp congestion control to cubic
    become: true
    ansible.posix.sysctl:
      name: net.ipv4.tcp_congestion_control
      value: "bbr"
      sysctl_set: true

  - name: Tune TCP write buffer
    become: true
    ansible.posix.sysctl:
      name: net.ipv4.tcp_wmem
      value: '8192 1048576 33554432'
      sysctl_set: true

  - name: Tune TCP read buffer
    become: true
    ansible.posix.sysctl:
      name: net.ipv4.tcp_rmem
      value: '8192 1048576 33554432'
      sysctl_set: true

  - name: Tune TCP buffer
    become: true
    ansible.posix.sysctl:
      name: net.ipv4.tcp_mem
      value: '268435456 268435456 268435456'
      sysctl_set: true
  
  - name: Tune net core write buffer
    become: true
    ansible.posix.sysctl:
      name: net.core.rmem_max
      value: "268435456"
      sysctl_set: true
  
  - name: Tune net core read buffer
    become: true
    ansible.posix.sysctl:
      name: net.core.wmem_max
      value: "268435456"
      sysctl_set: true
 