version: '3'

services:
  worker:
    image: myoung34/github-runner:latest
    container_name: github-runner
    restart: always
    environment:
      RUNNER_NAME: {{ runner_name }}
      RUNNER_SCOPE: org
      ORG_NAME: stack-rs
      ACCESS_TOKEN: {{ github_access_key }}
      RUNNER_WORKDIR: /tmp/runner/work
      LABELS: linux,x64,{{ kernel_version }}
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    security_opt:
      - apparmor=unconfined
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '/tmp/runner:/tmp/runner'
