services:
  worker:
    image: rattan/github-runner:{{ tag }}
    container_name: github-runner
    restart: always
    privileged: true
    environment:
      RUNNER_NAME: {{ runner_name }}
      RUNNER_SCOPE: repo
      REPO_URL: https://github.com/stack-rs/rattan
      ACCESS_TOKEN: {{ github_access_key }}
      LABELS: linux,x64,{{ kernel_version }}
      HTTP_PROXY: "{{ http_proxy | default('') }}"
      HTTPS_PROXY: "{{ http_proxy | default('') }}"
      NO_PROXY: "localhost,127.0.0.1,::1"
      http_proxy: "{{ http_proxy | default('') }}"
      https_proxy: "{{ http_proxy | default('') }}"
      no_proxy: "localhost,127.0.0.1,::1"
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    security_opt:
      - apparmor=unconfined
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '/sys:/sys'
      - '/etc/runner/docker-config.json:/root/.docker/config.json:ro'
