name: Test

on:
  push:
    paths-ignore:
      - "documents/**"
      - "assets/**"
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]
    paths-ignore:
      - "documents/**"
      - "assets/**"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-all-features:
    name: cargo test with all features
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        kernel: ["5.4", "5.15", "6.8", "6.12"]
    runs-on: ${{ matrix.kernel }}
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get update && sudo apt-get install -y iproute2 ethtool iputils-ping iperf3 datamash bc pkg-config m4 libelf-dev libpcap-dev gcc-multilib -y
      - name: Install latest LLVM
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "17"
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - run: cargo nextest run --profile ci --all-features --release --workspace
        env:
          RUST_LOG: "info"
          CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUNNER: "sudo -E"
          # For insta to disable writing new snapshot files and fail on mismatch
          CI: "true"
      - name: Test CLI
        run: ./ci/scripts/test_cli.sh
      - run: sudo ./scripts/clean_stdenv.sh -a
