name: Verify

on:
  schedule:
    - cron: "0 17 * * *"
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: verify-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-all-features:
    name: verify functionality of rattan
    strategy:
      max-parallel: 1 # Avoid resource contention
      fail-fast: false
      matrix:
        include:
          - kernel: "5.4"
            llvm: "14"
          - kernel: "5.15"
            llvm: "17"
          - kernel: "6.8"
            llvm: "17"
          - kernel: "6.12"
            llvm: "17"
    runs-on: ${{ matrix.kernel }}
    if: github.event.pull_request.head.repo.full_name == github.repository || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule'
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get update && sudo apt-get install -y iproute2 ethtool iputils-ping iperf3 datamash bc pkg-config m4 libelf-dev libpcap-dev gcc-multilib libnftnl-dev libmnl-dev -y
      - name: Cache LLVM and Clang
        id: cache-llvm
        uses: maxnowack/local-cache@v2
        with:
          path: |
            C:/Program Files/LLVM
            ./llvm
          key: llvm-${{ matrix.llvm }}
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: ${{ matrix.llvm }}
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}
      - run: sudo ./scripts/clean_stdenv.sh -a
      - name: Performance verification
        run: |
          /bin/bash ./ci/scripts/verify.sh
          cd ./ci/scripts/ && tar -czf cache/verify_log.tar.gz cache/*.log
      - name: Archive verification results
        uses: actions/upload-artifact@v4
        with:
          name: verification_${{ matrix.kernel }}
          path: |
            ci/scripts/cache/verify.html
            ci/scripts/cache/verify_log.tar.gz
